In [54]:
import pandas as pd
from operator import itemgetter
import re
import pymongo

In [55]:
file = "state_tier1_caps.csv"

#Read csv into Pandas
df = pd.read_csv(file)
df.head()

,Emissions are in 1000 tons,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,STATE_FIPS,STATE_ABBR,tier1_code,tier1_description,pollutant_code,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions09,emissions10,emissions11,emissions12,emissions13,emissions14,emissions_fixed,emissions15,emissions16,emissions17
1,01,AL,01,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.51526,...,10.9668444,10.4941125,9.9576446,9.6423108,9.326977,9.0116432,9.0116432,9.0116432,9.0116432,9.0116432
2,01,AL,01,FUEL COMB. ELEC. UTIL.,NH3,NaN,0.01516,0.01605,0.01597,0.01651,...,0.522571961,0.505945589,0.489319218,0.488462596,0.487605975,0.486749353,0.486749353,0.486749353,0.486749353,0.486749353
3,01,AL,01,FUEL COMB. ELEC. UTIL.,NOX,187.79386,219.009,209.98918,198.66722,186.3871,...,96.00923043,78.87946547,61.6871485,57.76831163,53.84947477,49.9306379,49.9306379,44.893997,27.631909,21.307058
4,01,AL,01,FUEL COMB. ELEC. UTIL.,PM10,8.85994,9.28102,8.83472,8.37946,29.21702,...,5.876249051,6.615406896,7.323321741,6.469981304,5.616640867,4.763300429,4.763300429,4.763300429,4.763300429,4.763300429

In [56]:
# Drop rows where pollutant_code (Unnamed: 4) is not CO

df.drop(df[df['Unnamed: 4'] != 'CO'].index,inplace=True)
df.head()

,Emissions are in 1000 tons,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
1,01,AL,01,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.51526,...,10.9668444,10.4941125,9.9576446,9.6423108,9.326977,9.0116432,9.0116432,9.0116432,9.0116432,9.0116432
8,01,AL,02,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.88043,...,22.61858405,22.84104926,71.86470057,66.7471092,61.62951784,56.51192647,56.51192647,56.51192647,56.51192647,56.51192647
15,01,AL,03,FUEL COMB. OTHER,CO,89.93378,34.23424,34.29082,34.15163,65.515923,...,11.54395555,11.75324656,12.10373583,14.99790364,17.89207145,20.78623926,20.78623926,20.78623926,20.78623926,20.78623926
22,01,AL,04,CHEMICAL & ALLIED PRODUCT MFG,CO,54.70092,44.2331,45.59779,46.96713,7.85382,...,1.736527033,2.429740967,3.122954901,3.133777588,3.144600276,3.155422963,3.155422963,3.155422963,3.155422963,3.155422963
29,01,AL,05,METALS PROCESSING,CO,6.61641,36.1217,37.64911,36.8687,31.76794,...,17.58291247,14.28719843,10.9914844,11.17310068,11.35471695,11.53633323,11.53633323,11.53633323,11.53633323,11.53633323

In [57]:
# Rename columns
#df.rename(columns={'Leader': 'Commander'}, inplace=True)
df.rename(columns={'Unnamed: 1': 'State_Abbreviation', "Unnamed: 4":"Poluttant_Code", "Unnamed: 23":"2012_Emissions",
                  "Unnamed: 24":"2013_Emissions", "Unnamed: 25":"2014_Emissions", "Unnamed: 26":"2015_Emissions",
                  "Unnamed: 27":"2016_Emissions", "Unnamed: 28":"2017_Emissions"}, inplace=True)
          
df.head()

,Emissions are in 1000 tons,State_Abbreviation,Unnamed: 2,Unnamed: 3,Poluttant_Code,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,2012_Emissions,2013_Emissions,2014_Emissions,2015_Emissions,2016_Emissions,2017_Emissions
1,01,AL,01,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.51526,...,10.9668444,10.4941125,9.9576446,9.6423108,9.326977,9.0116432,9.0116432,9.0116432,9.0116432,9.0116432
8,01,AL,02,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.88043,...,22.61858405,22.84104926,71.86470057,66.7471092,61.62951784,56.51192647,56.51192647,56.51192647,56.51192647,56.51192647
15,01,AL,03,FUEL COMB. OTHER,CO,89.93378,34.23424,34.29082,34.15163,65.515923,...,11.54395555,11.75324656,12.10373583,14.99790364,17.89207145,20.78623926,20.78623926,20.78623926,20.78623926,20.78623926
22,01,AL,04,CHEMICAL & ALLIED PRODUCT MFG,CO,54.70092,44.2331,45.59779,46.96713,7.85382,...,1.736527033,2.429740967,3.122954901,3.133777588,3.144600276,3.155422963,3.155422963,3.155422963,3.155422963,3.155422963
29,01,AL,05,METALS PROCESSING,CO,6.61641,36.1217,37.64911,36.8687,31.76794,...,17.58291247,14.28719843,10.9914844,11.17310068,11.35471695,11.53633323,11.53633323,11.53633323,11.53633323,11.53633323

In [58]:
df.drop(["Emissions are in 1000 tons", "Unnamed: 2", "Unnamed: 3", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10", "Unnamed: 11", "Unnamed: 12",
        "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16", "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20",
        "Unnamed: 21", "Unnamed: 22",], axis=1, inplace=True)

df.head()

,State_Abbreviation,Poluttant_Code,2012_Emissions,2013_Emissions,2014_Emissions,2015_Emissions,2016_Emissions,2017_Emissions
1,AL,CO,9.326977,9.0116432,9.0116432,9.0116432,9.0116432,9.0116432
8,AL,CO,61.62951784,56.51192647,56.51192647,56.51192647,56.51192647,56.51192647
15,AL,CO,17.89207145,20.78623926,20.78623926,20.78623926,20.78623926,20.78623926
22,AL,CO,3.144600276,3.155422963,3.155422963,3.155422963,3.155422963,3.155422963
29,AL,CO,11.35471695,11.53633323,11.53633323,11.53633323,11.53633323,11.53633323

In [59]:
df.dtypes

State_Abbreviation    object
Poluttant_Code        object
2012_Emissions        object
2013_Emissions        object
2014_Emissions        object
2015_Emissions        object
2016_Emissions        object
2017_Emissions        object
dtype: object

In [60]:
# df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

df[["2012_Emissions", "2013_Emissions", "2014_Emissions", 
    "2015_Emissions", "2016_Emissions", "2017_Emissions"]] = df[["2012_Emissions", "2013_Emissions", "2014_Emissions", 
                                                                "2015_Emissions", "2016_Emissions", "2017_Emissions"]].apply(pd.to_numeric)

df.dtypes

State_Abbreviation     object
Poluttant_Code         object
2012_Emissions        float64
2013_Emissions        float64
2014_Emissions        float64
2015_Emissions        float64
2016_Emissions        float64
2017_Emissions        float64
dtype: object

In [61]:
df.head()

,State_Abbreviation,Poluttant_Code,2012_Emissions,2013_Emissions,2014_Emissions,2015_Emissions,2016_Emissions,2017_Emissions
1,AL,CO,9.326977,9.011643,9.011643,9.011643,9.011643,9.011643
8,AL,CO,61.629518,56.511926,56.511926,56.511926,56.511926,56.511926
15,AL,CO,17.892071,20.786239,20.786239,20.786239,20.786239,20.786239
22,AL,CO,3.144600,3.155423,3.155423,3.155423,3.155423,3.155423
29,AL,CO,11.354717,11.536333,11.536333,11.536333,11.536333,11.536333

In [66]:
# Replacing NaN values with 0
df.fillna(value=0.0,inplace=True)

In [75]:
grouped = df.groupby(["State_Abbreviation", "Poluttant_Code"])
df_grouped = pd.DataFrame({"2012 Emissions Total":grouped["2012_Emissions"].sum(),
                         "2013 Emissions Total":grouped["2013_Emissions"].sum(),
                         "2014 Emissions Total":grouped["2014_Emissions"].sum(),
                         "2015 Emissions Total":grouped["2015_Emissions"].sum(),
                         "2016 Emissions Total":grouped["2016_Emissions"].sum(),
                         "2017 Emissions Total":grouped["2017_Emissions"].sum()})


df_grouped.head()

,,2012 Emissions Total,2013 Emissions Total,2014 Emissions Total,2015 Emissions Total,2016 Emissions Total,2017 Emissions Total
State_Abbreviation,Poluttant_Code,,,,,,
AK,CO,2346.916178,2300.045425,195.699049,2299.679313,2299.313202,2298.947090
AL,CO,1893.958290,1929.506064,1175.462871,1895.847216,1807.671136,1746.753673
AR,CO,1239.014331,1156.753717,581.843928,1146.147183,1101.524547,1073.909962
AZ,CO,1632.243281,1237.286833,930.156797,1231.447180,1157.617056,1117.782167
CA,CO,4960.917428,5604.151765,2047.876790,5522.191042,5440.301417,5358.376243

In [84]:
df_grouped = df_grouped.reset_index(level="State_Abbreviation")
df_grouped = df_grouped.reset_index(level="Poluttant_Code")

df_grouped.head()

,Poluttant_Code,State_Abbreviation,2012 Emissions Total,2013 Emissions Total,2014 Emissions Total,2015 Emissions Total,2016 Emissions Total,2017 Emissions Total
0,CO,AK,2346.916178,2300.045425,195.699049,2299.679313,2299.313202,2298.947090
1,CO,AL,1893.958290,1929.506064,1175.462871,1895.847216,1807.671136,1746.753673
2,CO,AR,1239.014331,1156.753717,581.843928,1146.147183,1101.524547,1073.909962
3,CO,AZ,1632.243281,1237.286833,930.156797,1231.447180,1157.617056,1117.782167
4,CO,CA,4960.917428,5604.151765,2047.876790,5522.191042,5440.301417,5358.376243

In [89]:
db_input = []
for index, row in df_grouped.iterrows():
        state_record = {}
        for i in df_grouped.columns:
            state_record[i] = row[i]
        db_input.append(state_record)
    
print (db_input)

[{'Poluttant_Code': 'CO', 'State_Abbreviation': 'AK', '2012 Emissions Total': 2346.916178412, '2013 Emissions Total': 2300.0454249700006, '2014 Emissions Total': 195.699049425, '2015 Emissions Total': 2299.6793134100003, '2016 Emissions Total': 2299.3132018500005, '2017 Emissions Total': 2298.9470902800003}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'AL', '2012 Emissions Total': 1893.958290067, '2013 Emissions Total': 1929.506063627, '2014 Emissions Total': 1175.4628710729999, '2015 Emissions Total': 1895.847216227, '2016 Emissions Total': 1807.671136427, '2017 Emissions Total': 1746.753672927}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'AR', '2012 Emissions Total': 1239.014331205, '2013 Emissions Total': 1156.7537166020002, '2014 Emissions Total': 581.843927572, '2015 Emissions Total': 1146.1471826020002, '2016 Emissions Total': 1101.524546602, '2017 Emissions Total': 1073.909961602}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'AZ', '2012 Emissions Total': 1632.2432806759998, '2013 Emissions Total': 1237.2868334009997, '2014 Emissions Total': 930.1567972169998, '2015 Emissions Total': 1231.447179801, '2016 Emissions Total': 1157.6170562009997, '2017 Emissions Total': 1117.782167401}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'CA', '2012 Emissions Total': 4960.9174277639995, '2013 Emissions Total': 5604.151765116, '2014 Emissions Total': 2047.8767898560002, '2015 Emissions Total': 5522.191042116, '2016 Emissions Total': 5440.301417216, '2017 Emissions Total': 5358.376243116}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'CO', '2012 Emissions Total': 1084.69741932, '2013 Emissions Total': 919.8990675549999, '2014 Emissions Total': 846.164902928, '2015 Emissions Total': 889.632987955, '2016 Emissions Total': 825.065967655, '2017 Emissions Total': 777.6494176549999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'CT', '2012 Emissions Total': 410.4986269070001, '2013 Emissions Total': 400.1494803612, '2014 Emissions Total': 399.427587755, '2015 Emissions Total': 387.2720417612, '2016 Emissions Total': 359.9642919612, '2017 Emissions Total': 339.8716977612}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'DC', '2012 Emissions Total': 45.381695633300005, '2013 Emissions Total': 47.29803849489999, '2014 Emissions Total': 47.29802804399999, '2015 Emissions Total': 45.621968564899994, '2016 Emissions Total': 40.411948684900004, '2017 Emissions Total': 36.9689037849}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'DE', '2012 Emissions Total': 130.44782182533, '2013 Emissions Total': 133.38957094900002, '2014 Emissions Total': 131.606573902, '2015 Emissions Total': 128.86104576900001, '2016 Emissions Total': 123.11702454899999, '2017 Emissions Total': 117.980751359}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'FL', '2012 Emissions Total': 4162.360126967, '2013 Emissions Total': 4206.079210568, '2014 Emissions Total': 3004.593499088, '2015 Emissions Total': 4180.216146568, '2016 Emissions Total': 4030.5050885680002, '2017 Emissions Total': 3942.718028568}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'GA', '2012 Emissions Total': 2401.854328247, '2013 Emissions Total': 2192.241363958, '2014 Emissions Total': 1684.94919781, '2015 Emissions Total': 2247.922615558, '2016 Emissions Total': 2144.867745058, '2017 Emissions Total': 2121.180935658}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'HI', '2012 Emissions Total': 254.40462345400002, '2013 Emissions Total': 283.937791536, '2014 Emissions Total': 169.733356711, '2015 Emissions Total': 283.330677696, '2016 Emissions Total': 282.723563856, '2017 Emissions Total': 282.116450026}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'IA', '2012 Emissions Total': 772.0093217040002, '2013 Emissions Total': 772.011519352, '2014 Emissions Total': 635.733290781, '2015 Emissions Total': 760.3768963519999, '2016 Emissions Total': 710.216725752, '2017 Emissions Total': 679.3193290520001}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'ID', '2012 Emissions Total': 1028.4708572729999, '2013 Emissions Total': 987.3860571729999, '2014 Emissions Total': 337.968958303, '2015 Emissions Total': 974.8391674229999, '2016 Emissions Total': 940.8374048629998, '2017 Emissions Total': 917.563078713}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'IL', '2012 Emissions Total': 1709.7485997289996, '2013 Emissions Total': 1784.6809031460002, '2014 Emissions Total': 1672.7825642940002, '2015 Emissions Total': 1694.510029346, '2016 Emissions Total': 1616.576578446, '2017 Emissions Total': 1532.524416146}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'IN', '2012 Emissions Total': 1546.3834002659999, '2013 Emissions Total': 1511.0744736549998, '2014 Emissions Total': 1449.9883162429996, '2015 Emissions Total': 1445.483887755, '2016 Emissions Total': 1398.549552455, '2017 Emissions Total': 1342.287091855}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'KS', '2012 Emissions Total': 1245.656523769, '2013 Emissions Total': 1012.6436626309999, '2014 Emissions Total': 660.6867671709999, '2015 Emissions Total': 995.8109938309999, '2016 Emissions Total': 947.3529480309999, '2017 Emissions Total': 914.7075906309999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'KY', '2012 Emissions Total': 1162.3811915109998, '2013 Emissions Total': 1199.0423328989998, '2014 Emissions Total': 850.3238100629999, '2015 Emissions Total': 1167.3427330989998, '2016 Emissions Total': 1114.428723499, '2017 Emissions Total': 1072.1219187989998}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'LA', '2012 Emissions Total': 2072.3986885589998, '2013 Emissions Total': 1942.231889942, '2014 Emissions Total': 882.005457612, '2015 Emissions Total': 1916.0855665419997, '2016 Emissions Total': 1878.242178842, '2017 Emissions Total': 1846.247323242}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MA', '2012 Emissions Total': 703.184906089, '2013 Emissions Total': 696.3777327390001, '2014 Emissions Total': 692.452565043, '2015 Emissions Total': 682.8997431390001, '2016 Emissions Total': 656.566239139, '2017 Emissions Total': 636.6604922390001}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MD', '2012 Emissions Total': 733.074119774, '2013 Emissions Total': 723.3551525419999, '2014 Emissions Total': 688.090526495, '2015 Emissions Total': 721.3183588420001, '2016 Emissions Total': 680.844685242, '2017 Emissions Total': 659.589451642}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'ME', '2012 Emissions Total': 286.20597581399994, '2013 Emissions Total': 284.29755634, '2014 Emissions Total': 278.57497793100003, '2015 Emissions Total': 278.22530129, '2016 Emissions Total': 263.48933116, '2017 Emissions Total': 253.08521854999998}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MI', '2012 Emissions Total': 1862.5621730130001, '2013 Emissions Total': 1744.8564945320002, '2014 Emissions Total': 1713.846973535, '2015 Emissions Total': 1673.178192132, '2016 Emissions Total': 1593.3678110320002, '2017 Emissions Total': 1517.6234692320002}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MN', '2012 Emissions Total': 1761.7925700380001, '2013 Emissions Total': 1599.11911953, '2014 Emissions Total': 1338.117553373, '2015 Emissions Total': 1533.74200483, '2016 Emissions Total': 1473.4434460300001, '2017 Emissions Total': 1410.6056093299999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MO', '2012 Emissions Total': 1860.2260116879997, '2013 Emissions Total': 1941.764011274, '2014 Emissions Total': 1189.954490314, '2015 Emissions Total': 1899.0484175740003, '2016 Emissions Total': 1819.449744474, '2017 Emissions Total': 1758.292611074}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MS', '2012 Emissions Total': 972.892043949, '2013 Emissions Total': 934.25967054, '2014 Emissions Total': 632.6560035269999, '2015 Emissions Total': 914.4022977399999, '2016 Emissions Total': 865.38917684, '2017 Emissions Total': 830.95392994}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'MT', '2012 Emissions Total': 858.2925951279999, '2013 Emissions Total': 627.0490642770001, '2014 Emissions Total': 291.496230742, '2015 Emissions Total': 610.721951197, '2016 Emissions Total': 570.6053290069999, '2017 Emissions Total': 542.383461317}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NC', '2012 Emissions Total': 1721.8905416419998, '2013 Emissions Total': 1636.685322111, '2014 Emissions Total': 1470.50311949, '2015 Emissions Total': 1598.689073511, '2016 Emissions Total': 1519.763807911, '2017 Emissions Total': 1461.3030508109998}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'ND', '2012 Emissions Total': 400.853112271, '2013 Emissions Total': 357.02404254299995, '2014 Emissions Total': 227.04401185199998, '2015 Emissions Total': 342.280050113, '2016 Emissions Total': 322.782082833, '2017 Emissions Total': 305.66110296299996}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NE', '2012 Emissions Total': 483.014180486, '2013 Emissions Total': 463.576275056, '2014 Emissions Total': 377.086425009, '2015 Emissions Total': 451.868920556, '2016 Emissions Total': 420.41824575600003, '2017 Emissions Total': 398.839231156}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NH', '2012 Emissions Total': 232.721084123, '2013 Emissions Total': 226.73534040799998, '2014 Emissions Total': 226.039447189, '2015 Emissions Total': 220.741080078, '2016 Emissions Total': 210.40373779799998, '2017 Emissions Total': 202.237936488}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NJ', '2012 Emissions Total': 917.6131434149999, '2013 Emissions Total': 908.0504675829998, '2014 Emissions Total': 817.0376744089999, '2015 Emissions Total': 890.8038650829999, '2016 Emissions Total': 869.301550383, '2017 Emissions Total': 849.9270916829998}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NM', '2012 Emissions Total': 830.0409820607, '2013 Emissions Total': 513.487609809, '2014 Emissions Total': 408.055244081, '2015 Emissions Total': 517.350148179, '2016 Emissions Total': 482.483698659, '2017 Emissions Total': 466.98174302900003}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NV', '2012 Emissions Total': 510.865663052, '2013 Emissions Total': 491.905508359, '2014 Emissions Total': 382.469695527, '2015 Emissions Total': 483.427400559, '2016 Emissions Total': 462.678007759, '2017 Emissions Total': 448.064257459}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'NY', '2012 Emissions Total': 1897.9462125359998, '2013 Emissions Total': 1884.2480294959998, '2014 Emissions Total': 1870.273680955, '2015 Emissions Total': 1818.037989596, '2016 Emissions Total': 1687.1916161959998, '2017 Emissions Total': 1588.6634095959998}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'OH', '2012 Emissions Total': 2147.0509318659997, '2013 Emissions Total': 1882.226417614, '2014 Emissions Total': 1841.164510266, '2015 Emissions Total': 1816.5802890139998, '2016 Emissions Total': 1761.933451614, '2017 Emissions Total': 1701.786968714}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'OK', '2012 Emissions Total': 1522.373481421, '2013 Emissions Total': 1311.016985321, '2014 Emissions Total': 805.281182481, '2015 Emissions Total': 1283.375262021, '2016 Emissions Total': 1234.789430421, '2017 Emissions Total': 1196.675653021}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'OR', '2012 Emissions Total': 2289.48457451, '2013 Emissions Total': 2291.871519846, '2014 Emissions Total': 687.923198776, '2015 Emissions Total': 2272.0745648459997, '2016 Emissions Total': 2207.6869583459998, '2017 Emissions Total': 2165.5946775459997}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'PA', '2012 Emissions Total': 1777.919389564, '2013 Emissions Total': 1714.2864746639998, '2014 Emissions Total': 1675.5519214199999, '2015 Emissions Total': 1656.5907007639998, '2016 Emissions Total': 1561.1524523639998, '2017 Emissions Total': 1484.5854412639999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'RI', '2012 Emissions Total': 124.69282568999999, '2013 Emissions Total': 124.01890842939, '2014 Emissions Total': 123.842948014, '2015 Emissions Total': 120.72769199939, '2016 Emissions Total': 113.55977470939, '2017 Emissions Total': 108.33020783939}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'SC', '2012 Emissions Total': 1145.935674673, '2013 Emissions Total': 1168.36462463, '2014 Emissions Total': 910.15744923, '2015 Emissions Total': 1149.6375395300001, '2016 Emissions Total': 1118.41546683, '2017 Emissions Total': 1093.44088793}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'SD', '2012 Emissions Total': 486.52148608100003, '2013 Emissions Total': 375.72868671900005, '2014 Emissions Total': 192.62642170200002, '2015 Emissions Total': 367.129203349, '2016 Emissions Total': 348.439572789, '2017 Emissions Total': 334.79501585900005}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'TN', '2012 Emissions Total': 1330.6192773900002, '2013 Emissions Total': 1352.0340774129997, '2014 Emissions Total': 1166.631292783, '2015 Emissions Total': 1338.5301739129998, '2016 Emissions Total': 1253.543598113, '2017 Emissions Total': 1204.298358413}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'TX', '2012 Emissions Total': 4393.634939746999, '2013 Emissions Total': 3715.2225114599996, '2014 Emissions Total': 3098.4662767199998, '2015 Emissions Total': 3791.8572307600007, '2016 Emissions Total': 3615.5041220599996, '2017 Emissions Total': 3565.64492736}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'UT', '2012 Emissions Total': 513.986681745, '2013 Emissions Total': 497.66772453600004, '2014 Emissions Total': 423.20322366700003, '2015 Emissions Total': 490.163808336, '2016 Emissions Total': 467.56359593599996, '2017 Emissions Total': 452.51153173599994}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'VA', '2012 Emissions Total': 1361.885793945, '2013 Emissions Total': 1408.2905063039998, '2014 Emissions Total': 1217.1154314619998, '2015 Emissions Total': 1390.618812904, '2016 Emissions Total': 1317.1628712039997, '2017 Emissions Total': 1271.5990537039997}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'VT', '2012 Emissions Total': 145.12872711999998, '2013 Emissions Total': 143.52882423699998, '2014 Emissions Total': 142.16419904499998, '2015 Emissions Total': 140.918670397, '2016 Emissions Total': 134.889392837, '2017 Emissions Total': 130.569677147}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'WA', '2012 Emissions Total': 2329.547046878, '2013 Emissions Total': 2670.3325484380002, '2014 Emissions Total': 1234.701118768, '2015 Emissions Total': 2622.233131338, '2016 Emissions Total': 2513.073240738, '2017 Emissions Total': 2434.443586938}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'WI', '2012 Emissions Total': 1174.418319908, '2013 Emissions Total': 1121.268109545, '2014 Emissions Total': 1072.468339129, '2015 Emissions Total': 1080.322615545, '2016 Emissions Total': 1035.8954752450002, '2017 Emissions Total': 993.2091580449999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'WV', '2012 Emissions Total': 495.90176695599996, '2013 Emissions Total': 502.800156451, '2014 Emissions Total': 355.253825489, '2015 Emissions Total': 495.32386546099997, '2016 Emissions Total': 470.980109461, '2017 Emissions Total': 455.0700859609999}, {'Poluttant_Code': 'CO', 'State_Abbreviation': 'WY', '2012 Emissions Total': 569.365915847, '2013 Emissions Total': 292.861236326, '2014 Emissions Total': 210.39650829099998, '2015 Emissions Total': 285.036385686, '2016 Emissions Total': 264.441614376, '2017 Emissions Total': 250.231803396}]

In [ ]:


db.vehicle_records.insert_many(db_input)